@font-face {
  font-family: Elegant;
  src: url(../fonts/elegantlux.otf);
}

body{
	background: #CCC9CC;
}

h1{
	width: auto;
	color: #FFF;
	font-size: 200px;
	margin: 0px;
	font-family: Elegant, Helvetica, Arial;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-transform: uppercase;
	cursor: pointer;
}

.hidden{
	display: none;
}
